@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

@theme {
  --color-background: #0e1011;
  --color-white-primary: #dedede;
  --color-white-secondary: #ffffffcc;
  --color-gray-primary: #ffffff4d;
  --color-gray-darker: #ffffff40;
  --color-gray-secondary: #808087;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-jakarta: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}
